@inject IJSRuntime JSR
@inject IHttpClientFactory HCF
@inject INotificationService NS

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <Login />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JSR.InvokeVoidAsync("removeLoadingStyle");

        try
        {
            using HttpClient client = HCF.CreateClient("WakeupClient");
            using HttpResponseMessage responseMessage = await client.GetAsync("/Healthz");
            responseMessage.EnsureSuccessStatusCode();
        }
        catch (Exception ex)
        {
            await NS.Show("Backend health check failed");
            Console.WriteLine(ex);
        }
    }
}